{% extends "base.html" %}

{% block meta_description %}Siwter – usługi remontowo-budowlane. Oferta: prace murarskie, gipsy, montaż, podłogi, glazura i instalacje. Pomiar i wycena gratis.{% endblock %}

{% block header_slider %}
{% load static %}
<div class="splash-overlay" data-splash aria-label="Ekran powitalny">
    <img src="{% static 'img/SIWTER_logo_RGB.png' %}" alt="SIWTER" class="splash-overlay__logo" loading="eager">
</div>
<section class="hero-carousel" aria-label="Karuzela zdjęć">
    <div class="hero-carousel__viewport">
        <div class="hero-carousel__track" data-carousel-track>
            <div class="hero-carousel__slide is-active" data-carousel-slide>
                <img src="{% static 'img/slider/slide-1.jpg' %}" alt="Realizacje remontowe - 1" loading="eager">
                <div class="carousel-content">
                    <div class="jumbotron__category">
                        <h6>Rozsądna cena usług</h6>
                    </div>
                    <div class="jumbotron__title">
                        <p>INSTALACJE ELEKTRYCZNE</p>
                    </div>
                    <div class="jumbotron__content">
                        <p>Zaczynając od drobnych napraw typu wymiana gniazdka elektrycznego, montażu lamp sufitowych, do bardziej czasochłonnych prac jak wykonywanie nowych instalacji elektrycznych zgodnych z warunkami przyłączenia sieci elektrycznej.</p>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/oferta/#elektryczne" target="_self">Więcej</a>
                    </div>
                </div>
            </div>
            <div class="hero-carousel__slide" data-carousel-slide>
                <img src="{% static 'img/slider/slide-2.jpg' %}" alt="Realizacje remontowe - 2" loading="lazy">
                <div class="carousel-content">
                    <div class="jumbotron__category">
                        <h6>Precyzja i estetyka wykończenia</h6>
                    </div>
                    <div class="jumbotron__title">
                        <p>BIAŁY MONTAŻ</p>
                    </div>
                    <div class="jumbotron__content">
                        <p>Montaż armatury i wyposażenia łazienek oraz kuchni wykonujemy kompleksowo i dokładnie: podłączenia umywalek, WC, baterii, kabin prysznicowych, wanien, syfonów i akcesoriów. Dbamy o szczelność, prawidłowe spadki i estetyczne wykończenie zabudów, aby całość była trwała i bezproblemowa w codziennym użytkowaniu.</p>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/oferta/#instalacje" target="_self">Więcej</a>
                    </div>
                </div>
            </div>
            <div class="hero-carousel__slide" data-carousel-slide>
                <img src="{% static 'img/slider/slide-3.jpg' %}" alt="Realizacje remontowe - 3" loading="lazy">
                <div class="carousel-content">
                    <div class="jumbotron__category">
                        <h6>Pomiar i wycena gratis</h6>
                    </div>
                    <div class="jumbotron__title">
                        <p>PODŁOGI</p>
                    </div>
                    <div class="jumbotron__content">
                        <p>Nasza firma specjalizuje się w wykonywaniu kompleksowych usług w zakresie montażu podłóg drewnianych, laminowanych oraz drzwi wewnętrznych i zewnętrznych.</p>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/oferta/#podlogi" target="_self">Więcej</a>
                    </div>
                </div>
            </div>
            <div class="hero-carousel__slide" data-carousel-slide>
                <img src="{% static 'img/slider/slide-4.jpg' %}" alt="Realizacje remontowe - 4" loading="lazy">
                <div class="carousel-content">
                    <div class="jumbotron__category">
                        <h6>Szybko i fachowo</h6>
                    </div>
                    <div class="jumbotron__title">
                        <p>PRACE MONTAŻOWE</p>
                    </div>
                    <div class="jumbotron__content">
                        <p>Nasze ekipy montażowe posiadają wieloletnie doświadczenie, dzięki czemu montaż jest przeprowadzany szybko i fachowo. Montujemy drzwi, okna, okna dachowe, parapety i inną stolarkę budowlaną na terenie Warszawy i okolic, w mieszkaniach, domach jednorodzinnych, firmach, miejscach użyteczności publicznej, m.in. w przedszkolach, szkołach oraz urzędach. Termin montażu drzwi staramy się dopasować do Państwa możliwości.</p>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/oferta/#montaz" target="_self">Więcej</a>
                    </div>
                </div>
            </div>
            <div class="hero-carousel__slide" data-carousel-slide>
                <img src="{% static 'img/slider/slide-5.jpg' %}" alt="Realizacje remontowe - 5" loading="lazy">
                <div class="carousel-content">
                    <div class="jumbotron__category">
                        <h6>Solidnie i estetycznie</h6>
                    </div>
                    <div class="jumbotron__title">
                        <p>GIPSY, MALOWANIE</p>
                    </div>
                    <div class="jumbotron__content">
                        <p>Proponujemy Państwu wykonanie podwieszanych sufitów i zabudowy wykonane z płyt kartonowo – gipsowych. To nowoczesne, dekoracyjne i trwałe wykończenie wnętrz, nadające im odpowiedni charakter. Zamówienia dostosowujemy indywidualnie do zapotrzebowania klienta. Odpowiednio dobieramy stelaż do montażu, przygotowujemy konstrukcję, do której montujemy płyty. Podejmujemy się wykonania każdego, nawet najbardziej nietypowego projektu. Gwarantujemy solidność wykonania i estetyczne wykończenie.</p>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/oferta/#gipsy" target="_self">Więcej</a>
                    </div>
                </div>
            </div>
            <div class="hero-carousel__slide" data-carousel-slide>
                <img src="{% static 'img/slider/slide-6.jpg' %}" alt="Realizacje remontowe - 6" loading="lazy">
                <div class="carousel-content">
                    <div class="jumbotron__category">
                        <h6>Profesjonalne podejście</h6>
                    </div>
                    <div class="jumbotron__title">
                        <p>PRACE MURARSKO-WYBURZENIOWE</p>
                    </div>
                    <div class="jumbotron__content">
                        <p>Podejmujemy się kompleksowych remontów zarówno dla firm, jak i na zlecenie indywidualnych klientów.</p>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/oferta/#murarskie" target="_self">Więcej</a>
                    </div>
                </div>
            </div>
            <div class="hero-carousel__slide" data-carousel-slide>
                <img src="{% static 'img/slider/slide-7.jpg' %}" alt="Realizacje remontowe - 7" loading="lazy">
                <div class="carousel-content">
                    <div class="jumbotron__category">
                        <h6>Profesjonalne usługi remontowe</h6>
                    </div>
                    <div class="jumbotron__title">
                        <p>GLAZURA, TERAKOTA</p>
                    </div>
                    <div class="jumbotron__content">
                        <p>Płytki ceramiczne są bardzo estetyczne i wytrzymałe, odporne na ścieranie i łatwe w utrzymaniu. Dodają wnętrzom dodatkowy charakter, a wzornictwo jest ogromne.</p>
                        <a class="btn btn-primary" href="http://127.0.0.1:8000/oferta/#glazura" target="_self">Więcej</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="hero-carousel__arrow hero-carousel__arrow--prev" type="button" aria-label="Poprzednie zdjęcie" data-carousel-prev>
            ‹
        </button>
        <button class="hero-carousel__arrow hero-carousel__arrow--next" type="button" aria-label="Następne zdjęcie" data-carousel-next>
            ›
        </button>
    </div>
</section>

{% endblock %}

{% block content %}
<section class="home-sections" data-reveal>
    <div class="container">
        <div class="home-columns">
            <article class="home-col home-col--about">
                <h2>Firma budowlana</h2>
                <p>Siwter to firma remontowo-budowlana. Zajmujemy się kompleksowymi wykończeniami mieszkań, domów, lokali biurowych oraz remontowaniem i adaptacją pomieszczeń takich jak poddasza, piwnice oraz sutereny.</p>

                <p>Prace naszej firmy obejmują budynki mieszkalne - zarówno mieszkania, domy jednorodzinne, a także wnętrza użytkowe przeznaczone pod sklepy, biura, magazyny czy miejsca wypoczynku. Realizujemy zlecenia osób prywatnych, a także firm i innych instytucji.</p>

                <p>Dbamy o dobry kontakt z klientem i staramy się każdemu dać pewność fachowo wykonanych usług.</p>

                <p>Każde zlecenie traktujemy indywidualnie starając się dotrzymać terminów zawartych w umowie z klientem.</p>

                <p>Oprócz prac budowlano-wykończeniowych oferujemy państwu pomoc przy skręcaniu-montażu mebli, usługi transportowe oraz sprzątanie.</p>

                <a class="btn btn-primary btn-primary--yellow" href="{% url 'about' %}">Więcej o nas</a>
            </article>

            <article class="home-col home-col--topics">
                <h2>Remonty Warszawa</h2>

                <div class="topic-block">
                    <h3>ŁAZIENKA</h3>
                    <p>Łazienka w każdym domu to miejsce szczególne - w niej bowiem rozpoczynamy i kończymy dzień. Chcemy więc, aby jej wnętrze miało klimat dodający nam rano energii na cały dzień, a wieczorem zapewniało relaks przed snem.</p>
                </div>

                <div class="topic-block">
                    <h3>KUCHNIA</h3>
                    <p>Wspaniała kuchnia to znacznie więcej niż kolejne pomieszczenie - może być sercem każdego domu. Kuchnia powinna być nie tylko piękna ale i funkcjonalna.</p>
                </div>

                <div class="topic-block">
                    <h3>POKÓJ</h3>
                    <p>Pomysłów na urządzanie pokoju jest bardzo wiele, jednak nie zawsze potrafimy przewidzieć, czy wybrane meble, podłogi czy dodatki będą nam się zawsze podobać.</p>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="cta-strip" aria-label="Wezwanie do działania" data-reveal>
    <div class="container">
        <div class="cta-strip__inner">
            <p class="cta-strip__text">Wykonanie pomiarów i wycena gratis. Zapraszamy do współpracy!</p>
            <div class="cta-strip__actions">
                <a class="btn btn-primary btn-primary--yellow" href="{% url 'offer' %}">Nasza oferta</a>
                <a class="btn btn-cta-secondary pulse-heart" href="{% url 'contact' %}#wycena-online" aria-label="Wycena online">Wycena online</a>
            </div>
        </div>
    </div>
</section>


<section class="offer-tiles" aria-label="Zakres usług" data-reveal>
    <div class="container">
        <div class="offer-tiles__grid">
            <article class="offer-tile">
                <a class="offer-tile__media" href="{% url 'offer' %}#murarskie" aria-label="Prace murarsko - wyburzeniowe">
                    <img src="{% static 'img/slider/slide-6.jpg' %}" alt="Prace murarsko - wyburzeniowe" loading="lazy">
                </a>
                <div class="offer-tile__body">
                    <h3 class="offer-tile__title">Prace murarsko - wyburzeniowe</h3>
                    <p class="offer-tile__text">W dobrze wyremontowanym pomieszczeniu chce się przebywać. Liczy się staranność wykonania prac, gładkość ścian, zachowanie kątów, kolory odpowiednio dobrane do przestrzeni i oświetlenia, dobry materiał i fachowcy, którzy podejmą …</p>
                    <a class="btn btn-primary btn-primary--yellow offer-tile__btn" href="{% url 'offer' %}#murarskie">Więcej</a>
                </div>
            </article>

            <article class="offer-tile">
                <a class="offer-tile__media" href="{% url 'offer' %}#gipsy" aria-label="Gipsy, malowanie">
                    <img src="{% static 'img/slider/slide-5.jpg' %}" alt="Gipsy, malowanie" loading="lazy">
                </a>
                <div class="offer-tile__body">
                    <h3 class="offer-tile__title">Gipsy, malowanie</h3>
                    <p class="offer-tile__text">Proponujemy Państwu wykonanie podwieszanych sufitów i zabudowy wykonane z płyt kartonowo – gipsowych. To nowoczesne, dekoracyjne i trwałe wykończenie wnętrz, nadające im odpowiedni charakter.</p>
                    <a class="btn btn-primary btn-primary--yellow offer-tile__btn" href="{% url 'offer' %}#gipsy">Więcej</a>
                </div>
            </article>

            <article class="offer-tile">
                <a class="offer-tile__media" href="{% url 'offer' %}#montaz" aria-label="Prace montażowe">
                    <img src="{% static 'img/slider/slide-4.jpg' %}" alt="Prace montażowe" loading="lazy">
                </a>
                <div class="offer-tile__body">
                    <h3 class="offer-tile__title">Prace montażowe</h3>
                    <p class="offer-tile__text">Nasze ekipy montażowe posiadają wieloletnie doświadczenie, dzięki czemu montaż jest przeprowadzany szybko i fachowo. Montujemy drzwi, okna, okna dachowe, parapety i inną stolarkę budowlaną na terenie Warszawy i okolic, w mieszkaniach, …</p>
                    <a class="btn btn-primary btn-primary--yellow offer-tile__btn" href="{% url 'offer' %}#montaz">Więcej</a>
                </div>
            </article>

            <article class="offer-tile">
                <a class="offer-tile__media" href="{% url 'offer' %}#podlogi" aria-label="Podłogi">
                    <img src="{% static 'img/slider/slide-3.jpg' %}" alt="Podłogi" loading="lazy">
                </a>
                <div class="offer-tile__body">
                    <h3 class="offer-tile__title">Podłogi</h3>
                    <p class="offer-tile__text">Nasza firma specjalizuje się w wykonywaniu kompleksowych usług w zakresie montażu podłóg drewnianych, laminowanych oraz drzwi wewnętrznych i zewnętrznych.</p>
                    <a class="btn btn-primary btn-primary--yellow offer-tile__btn" href="{% url 'offer' %}#podlogi">Więcej</a>
                </div>
            </article>

            <article class="offer-tile">
                <a class="offer-tile__media" href="{% url 'offer' %}#glazura" aria-label="Glazura, terakota">
                    <img src="{% static 'img/slider/slide-7.jpg' %}" alt="Glazura, terakota" loading="lazy">
                </a>
                <div class="offer-tile__body">
                    <h3 class="offer-tile__title">Glazura, terakota</h3>
                    <p class="offer-tile__text">Płytki ceramiczne są bardzo estetyczne i wytrzymałe, odporne na ścieranie i łatwe w utrzymaniu. Dodają wnętrzom dodatkowy charakter, a wzornictwo jest ogromne.</p>
                    <a class="btn btn-primary btn-primary--yellow offer-tile__btn" href="{% url 'offer' %}#glazura">Więcej</a>
                </div>
            </article>

            <article class="offer-tile">
                <a class="offer-tile__media" href="{% url 'offer' %}#instalacje" aria-label="Instalacje wod.-kan., biały montaż, obudowy">
                    <img src="{% static 'img/slider/slide-2.jpg' %}" alt="Instalacje wod.-kan., biały montaż, obudowy" loading="lazy">
                </a>
                <div class="offer-tile__body">
                    <h3 class="offer-tile__title">Instalacje wod.-kan., biały montaż, obudowy</h3>
                    <p class="offer-tile__text">Łazienka w każdym domu to miejsce szczególne - w niej bowiem rozpoczynamy i kończymy dzień. Chcemy więc, aby jej wnętrze miało klimat dodający nam rano energii na cały dzień, a wieczorem zapewniało relaks przed snem.</p>
                    <a class="btn btn-primary btn-primary--yellow offer-tile__btn" href="{% url 'offer' %}#instalacje">Więcej</a>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}


